* {
  margin: 0px;
  padding: 0px;
}

.navbar {
  height: 60px;
}

.logo-li {
  width: 12%;
}

.logo {
  height: 60px;
}

.logo-img {
  height: 26px;
  margin-top: 15px;
  padding: 0px 25px;
}

.recipes,
.lifestyle,
.podcast,
.arabic,
.register,
.input {
  padding: 18px 25px;
  /* font-family: "GT America", sans-serif; */
  font-family: 'IBM Plex Sans', sans-serif;
  cursor: pointer;
  height: 60px;
}

.shop a {
  font-family: 'IBM Plex Sans', sans-serif;
  cursor: pointer;
  padding: 18px 25px;
}

.shop a img {
  margin-top: 13px;
}

.sign-in {
  height: 60px;
}

.sign-in a {
  padding: 18px 21px;
  font-family: 'IBM Plex Sans', sans-serif;
  cursor: pointer;
}

.sign-in span {
  width: 60px;
}

.sign-in img {
  height: 15px;
  height: 20px;
}

.cart {
  width: 7%;
}

.cart a {
  padding: 10px 30px;
}

.purchases {
  padding-left: 5px;
  height: 10px;
  top: 5px;
  color: green;

}

.shop:hover,
.recipes:hover,
.lifestyle:hover,
.podcast:hover,
.arabic:hover,
.register:hover,
.sign-in:hover,
.cart:hover {
  background-color: rgb(237, 237, 237);
}

.nav-link {
  font-size: 14px;
}

.arrow {
  padding-left: 10px;
  height: 4px;
}

.search {
  width: 28%;
  height: 60px;
}

.search-btn {
  top: 26%;
  left: 45%;
  background-color: white;
  font-family: 'IBM Plex Sans', sans-serif;
}

.search-img {
  height: 15px;
}

.input {
  font-size: 13px;
  padding: 20px 15px 20px 50px;
}

.input::placeholder {
  color: rgb(167, 165, 165);
}

.input:focus {
  outline: none;
}

.signin-img {
  padding: 7px 0px 0px 10px;
}

.offcanvas {
  z-index: 3000;
}

/* carousel styles  */

/* end of carousel styles */

@media (min-width: 0px) and (max-width: 500px) {

  .shop,
  .recipes,
  .lifestyle,
  .podcast,
  .arabic,
  .register,
  .sign-in {
    display: none;
  }

  .input {
    display: none;
  }

  .toggler-li {
    width: 12%;
  }

  .navbar-toggler {
    display: inline-block;
    border: none;
    padding-top: 25%;
  }

  .navbar-toggler-icon {
    width: 25px;
  }

  .logo-li {
    width: 52%;
    height: 60px;
  }

  .search {
    display: none;
  }

  .single-search {
    display: block !important;
    width: 15%;
    border-right: 1px solid #dee2e6;
  }

  .single-search-btn {
    background-color: white;
    height: 97%;
  }
  .single-search img {
    height: 16px;
  }
}

@media (min-width: 500px) and (max-width: 900px) {

  .shop,
  .recipes,
  .lifestyle,
  .podcast,
  .arabic,
  .register,
  .sign-in {
    display: none;
  }

  .input {
    display: none;
  }

  .toggler-li {
    width: 12%;
  }

  .navbar-toggler {
    display: inline-block !important;
    padding-top: 17%;
  }

  .navbar-toggler-icon {
    width: 30px;
  }

  .logo-li {
    width: 65%;
    height: 60px;
  }

  .search {
    display: none;
  }

  .single-search {
    display: block !important;
    width: 11%;
    border-right: 1px solid #dee2e6;
  }

  .single-search-btn {
    background-color: white;
    height: 97%;
  }

  .single-search-img {
    height: 20px;
  }
}

@media (min-width: 900px) and (max-width: 1326px) {
  .toggler-li {
    display: none !important;
  }
}