#menu-offcanvas {
  width: 90%;
  height: 100%;
  padding: 0px;
}

.baby-toddler,
.bakery-li,
.beauty-cosmetics,
.beverages,
.butchery,
.dairy,
#flower-shop,
.food-cupboard,
.frozen,
#fruit-vegetables,
.home-leisure,
.household,
.non-muslim,
.petcare,
.seafood,
.seasonal-events,
.toiletries-health,
.world-foods {
  display: none;
  position: absolute;
  z-index: 3;
  top: 5%;
  left: 30%;
}

.baby-toddler:hover,
.bakery-li:hover,
.beauty-cosmetics:hover,
.beverages:hover,
.butchery:hover,
.dairy:hover,
#flower-shop:hover,
.food-cupboard:hover,
.frozen:hover,
#fruit-vegetables:hover,
.home-leisure:hover,
.household:hover,
.non-muslim:hover,
.petcare:hover,
.seafood:hover,
.seasonal-events:hover,
.toiletries-health:hover,
.world-foods {
  display: block;
}

.menu-products li:nth-child(3):hover~.baby-toddler,
.menu-products li:nth-child(4):hover~.bakery,
.menu-products li:nth-child(5):hover~.beauty-cosmetics,
.menu-products li:nth-child(6):hover~.beverages,
.menu-products li:nth-child(7):hover~.butchery,
.menu-products li:nth-child(8):hover~.dairy,
.menu-products li:nth-child(9):hover~#flower-shop,
.menu-products li:nth-child(10):hover~.food-cupboard,
.menu-products li:nth-child(11):hover~.frozen,
.menu-products li:nth-child(12):hover~#fruit-vegetables,
.menu-products li:nth-child(13):hover~.home-leisure,
.menu-products li:nth-child(14):hover~.household,
.menu-products li:nth-child(15):hover~.non-muslim,
.menu-products li:nth-child(16):hover~.petcare,
.menu-products li:nth-child(17):hover~.seafood,
.menu-products li:nth-child(18):hover~.seasonal-events,
.menu-products li:nth-child(19):hover~.toiletries-health,
.menu-products li:nth-child(20):hover~.world-foods {
  display: block;
}

.baby-toddler {
  width: 60%;
  height: 100%;

}
.baby-accessories,
.baby-food,
.baby-milk,
.nappies,
.baby-toiletries,
.bread,
.crumpits,
.sweet-treats,
.facial-skincare,
.make-up,
.coffee,
.free-from,
.long-life,
.premium-mixers,
.refrigerated,
.soft-drinks,
.tea,
.water,
.beef,
.chicken,
.butter-spreads,
.cheese,
.cooked-meats,
.deli-counters,
.eggs,
.food-togo,
.milk-cream,
.pizza,
.ready-meals,
.yoghurts,
.biscuits-crackers,
.cans,
.cereals,
.condiments,
.confectionary,
.cooking-ingredients,
.crisps,
.honey,
.jars,
.food-meal-kits,
.pasta,
.rice,
.sports,
.sugar-home,
.chips,
.frozen-desserts,
.frozen-seafood,
.fruit-smoothies,
.frozen-herbs,
.meat-poultry,
.pastry-dough,
.pizza-pies,
.frozen-vegan,
.world-food,
.fruit-products,
.salad-herbs,
.vegetables-products,
.electrical,
.entertainment,
.kitchen,
.leisure-outdoor,
.stationery,
.air-fresheners,
.cleaning-cupboard,
.cling-film,
.dishwashing,
.laundry,
.toilet-rolls,
.cats,
.dogs,
.small-animals,
.prawns,
.big-grill,
.deodrants,
.female-grooming,
.first-aid,
.haircare,
.hand-sanitisers,
.male-grooming,
.oral-care,
.shower,
.sun-care,
.vitamins-supplements,
.filipino {
  display: none;
  position: absolute;
  z-index: 4;
  top: 0px;
  left: 90%;
}

.baby-accessories:hover,
.baby-food:hover,
.baby-milk:hover,
.nappies:hover,
.baby-toiletries:hover,
.bread:hover,
.crumpits:hover,
.sweet-treats:hover,
.facial-skincare:hover,
.make-up:hover,
.coffee:hover,
.free-from:hover,
.long-life:hover,
.premium-mixers:hover,
.refrigerated:hover,
.soft-drinks:hover,
.tea:hover,
.water:hover,
.beef:hover,
.chicken:hover,
.butter-spreads:hover,
.cheese:hover,
.cooked-meats:hover,
.deli-counters:hover,
.eggs:hover,
.foodtogo:hover,
.milk-cream:hover,
.pizza:hover,
.ready-meals:hover,
.yoghurts:hover,
.biscuits-crackers:hover,
.cans:hover,
.cereals:hover,
.comdiments:hover,
.confectionary:hover,
.cooking-ingredients:hover,
.crisps:hover,
.honey:hover,
.jars:hover,
.food-meal-kits:hover,
.pasta:hover,
.rice:hover,
.sports:hover,
.sugar-home:hover,
.chips:hover,
.frozen-desserts:hover,
.frozen-seafood:hover,
.fruit-smoothies:hover,
.frozen-herbs:hover,
.meat-poultry:hover,
.pastry-dough:hover,
.pizza-pies:hover,
.frozen-vegan:hover,
.world-food:hover,
.fruit-products:hover,
.salad-herbs:hover,
.vegetables-products:hover,
.electrical:hover,
.entertainment:hover,
.kitchen:hover,
.leisure-outdoor:hover,
.stationery:hover,
.air-fresheners:hover,
.cleaning-cupboard:hover,
.cling-film:hover,
.dishwashing:hover,
.laundry:hover,
.toilet-rolls:hover,
.cats:hover,
.dogs:hover,
.small-animals:hover,
.prawns:hover,
.big-grill:hover,
.deodrants:hover,
.female-grooming:hover,
.first-aid:hover,
.haircare:hover,
.hand-sanitisers:hover,
.male-grooming:hover,
.oral-care:hover,
.shower:hover,
.sun-care:hover,
.vitamins-supplements:hover,
.filipino:hover {
  display: block;
}

.baby-ul li:nth-child(1):hover~.baby-accessories,
.baby-ul li:nth-child(2):hover~.baby-food,
.baby-ul li:nth-child(4):hover~.baby-milk, 
.baby-ul li:nth-child(5):hover~.nappies,
.baby-ul li:nth-child(6):hover~.baby-toiletries,
.bakery-ul li:nth-child(1):hover~.bread,
.bakery-ul li:nth-child(2):hover~.crumpits,
.bakery-ul li:nth-child(5):hover~.sweet-treats,
.beauty-ul li:nth-child(1):hover~.facial-skincare,
.beauty-ul li:nth-child(2):hover~.make-up,
.beverages-ul li:nth-child(1):hover~.coffee,
.beverages-ul li:nth-child(2):hover~.free-from,
.beverages-ul li:nth-child(5):hover~.long-life,
.beverages-ul li:nth-child(6):hover~.premium-mixers,
.beverages-ul li:nth-child(7):hover~.refrigerated,
.beverages-ul li:nth-child(8):hover~.soft-drinks,
.beverages-ul li:nth-child(10):hover~.tea,
.beverages-ul li:nth-child(11):hover~.water,
.butchery-ul li:nth-child(1):hover~.beef,
.butchery-ul li:nth-child(2):hover~.chicken,
.dairy-ul li:nth-child(1):hover~.butter-spreads,
.dairy-ul li:nth-child(2):hover~.cheese,
.dairy-ul li:nth-child(3):hover~.cooked-meats,
.dairy-ul li:nth-child(4):hover~.deli-counters,
.dairy-ul li:nth-child(6):hover~.eggs,
.dairy-ul li:nth-child(7):hover~.food-togo,
.dairy-ul li:nth-child(9):hover~.milk-cream,
.dairy-ul li:nth-child(10):hover~.pizza,
.dairy-ul li:nth-child(11):hover~.ready-meals,
.dairy-ul li:nth-child(13):hover~.yoghurts,
.food-cupboard-ul li:nth-child(1):hover~.biscuits-crackers,
.food-cupboard-ul li:nth-child(2):hover~.cans,
.food-cupboard-ul li:nth-child(3):hover~.cereals,
.food-cupboard-ul li:nth-child(4):hover~.condiments,
.food-cupboard-ul li:nth-child(5):hover~.confectionary,
.food-cupboard-ul li:nth-child(6):hover~.cooking-ingredients,
.food-cupboard-ul li:nth-child(7):hover~.crisps,
.food-cupboard-ul li:nth-child(8):hover~.honey,
.food-cupboard-ul li:nth-child(9):hover~.jars,
.food-cupboard-ul li:nth-child(10):hover~.food-meal-kits,
.food-cupboard-ul li:nth-child(11):hover~.pasta,
.food-cupboard-ul li:nth-child(12):hover~.rice,
.food-cupboard-ul li:nth-child(13):hover~.sports,
.food-cupboard-ul li:nth-child(14):hover~.sugar-home,
.frozen-ul li:nth-child(1):hover~.chips,
.frozen-ul li:nth-child(2):hover~.frozen-desserts,
.frozen-ul li:nth-child(3):hover~.frozen-seafood,
.frozen-ul li:nth-child(4):hover~.fruit-smoothies,
.frozen-ul li:nth-child(6):hover~.frozen-herbs,
.frozen-ul li:nth-child(7):hover~.meat-poultry,
.frozen-ul li:nth-child(8):hover~.pastry-dough,
.frozen-ul li:nth-child(9):hover~.pizza-pies,
.frozen-ul li:nth-child(11):hover~.frozen-vegan,
.frozen-ul li:nth-child(12):hover~.world-food,
.fruit-vegetables-ul li:nth-child(1):hover~.fruit-products,
.fruit-vegetables-ul li:nth-child(2):hover~.salad-herbs,
.fruit-vegetables-ul li:nth-child(3):hover~.vegetables-products,
.home-leisure-ul li:nth-child(1):hover~.electrical,
.home-leisure-ul li:nth-child(2):hover~.entertainment,
.home-leisure-ul li:nth-child(4):hover~.kitchen,
.home-leisure-ul li:nth-child(5):hover~.leisure-outdoor,
.home-leisure-ul li:nth-child(6):hover~.stationery,
.household-ul li:nth-child(1):hover~.air-fresheners,
.household-ul li:nth-child(2):hover~.cleaning-cupboard,
.household-ul li:nth-child(3):hover~.cling-film, 
.household-ul li:nth-child(4):hover~.dishwashing,
.household-ul li:nth-child(5):hover~.laundry,
.household-ul li:nth-child(6):hover~.toilet-rolls,
.petcare-ul li:nth-child(1):hover~.cats,
.petcare-ul li:nth-child(2):hover~.dogs,
.petcare-ul li:nth-child(3):hover~.small-animals,
.seafood-ul li:nth-child(3):hover~.prawns,
.seasonal-events-ul li:nth-child(1):hover~.big-grill,
.toiletries-health-ul li:nth-child(2):hover~.deodrants,
.toiletries-health-ul li:nth-child(3):hover~.female-grooming,
.toiletries-health-ul li:nth-child(4):hover~.first-aid,
.toiletries-health-ul li:nth-child(5):hover~.haircare,
.toiletries-health-ul li:nth-child(6):hover~.hand-sanitisers,
.toiletries-health-ul li:nth-child(7):hover~.male-grooming,
.toiletries-health-ul li:nth-child(8):hover~.oral-care,
.toiletries-health-ul li:nth-child(9):hover~.shower,
.toiletries-health-ul li:nth-child(10):hover~.sun-care,
.toiletries-health-ul li:nth-child(11):hover~.vitamins-supplements,
.world-foods-ul li:nth-child(2):hover~.filipino   {
  display: block;
}