.taste-of-italy {
  padding-top: 5%;
  border-bottom: 1px solid #fafafa;
  background-color: rgb(250, 250, 250);
}

.taste-heading {
  padding: 2%;
}

.title {
  font-family: 'IBM Plex Sans', sans-serif;
  margin-bottom: 2px;
  font-weight: 500;
  font-size: 24px;
  text-align: left;
}

.subtitle {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #8C8C8C;
  margin-bottom: 40px;
}

.taste-of-italy .taste-heading .shop-now {
  width: 18%;
  height: 42%;
  padding: 0px;
  width: 12%;
  border: none;
  color: #8C8C8C;
}

.taste-of-italy .taste-heading .shop-now:hover {
  cursor: default;
}

.taste-of-italy .taste-heading .shop-now .view-more {
  height: 42%;
  color: #8C8C8C;
  border: 1px solid #efefef;
  border-radius: 5px;
  font-size: 14px;
  padding: 10px 15px;
  font-family: 'IBM Plex Sans', sans-serif;
}

.taste-of-italy .taste-heading .shop-now .view-more:hover {
  color: #8C8C8C;
}

.shop-now-arrow {
  height: 7px;
  margin-top: 7px;
}

.splide_slide {
  border: 1px solid #fafafa;
}

.taste-of-italy .splide {
  padding: 2%;
}

.splide__arrow {
  height: 50px;
  width: 50px;
  background-color: white;
  border: 1px solid lightgrey;
}

.splide__arrow svg {
  height: 12px;

}

.taste-of-italy .splide__slide {
  background-color: white;
}

.product-card {
  cursor: pointer;
}

.product-link {
  display: block;
  height: 311px;
}

.overlay {
  position: absolute;
  height: 58%;
  width: 100%;
  background-color: black;
  opacity: 0;
  cursor: pointer;
}

.ctr {
  position: absolute;
  transform: translate(0%, -98%);
}

.taste-of-italy .splide__track .splide__list .splide__slide:hover .overlay {
  opacity: .2;
}

.product-img {
  position: absolute;
  height: 59%;
  width: 100%;
  left: 0%;
}

.padge {
  height: 30px;
  position: absolute;
  z-index: 2;
  top: 50%;
  right: 3%;
}

.product-buttons {
  height: 52px;
  display: flex;
  justify-content: space-around;
  padding-top: 14px;
  visibility: hidden;
}

.taste-of-italy .splide__track .splide__list .splide__slide:hover .product-buttons {
  visibility: visible !important;
}

.remove-btn,
.add-btn {
  width: 50%;
  background-color: #FFFFFF;
  border: none;
}

.remove-btn:hover,
.add-btn:hover {
  background-color: #f9f9f9;
}

.product-info {
  padding: 24px;
  text-align: left;
  font-family: 'IBM Plex Sans', sans-serif;
}

.price {
  font-weight: 500;
  color: #1A1A1A;
  font-size: 16px;
  line-height: 1;
  margin-bottom: 12px;
}

.name {
  height: 70px;
}

.name-link {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 15px;
  text-decoration: none;
  color: #8C8C8C;
  opacity: .7;
  font-weight: 100 !important;
}

.name-link:hover {
  color: #8C8C8C;
}

.taste-of-italy .splide .rest {
  display: flex;
  width: 51%;
}

.taste-of-italy .splide .splide__track .splide__list .splide_slide .rest:hover {
  border-bottom: 1px solid #212529;
  cursor: pointer;
}

.taste-of-italy .splide .splide__track .splide__list .splide__slide .product-info .rest .more-info {
  text-decoration: none;
  color: #212529;
  font-size: 14px;
  font-weight: 500;
}

.taste-of-italy .splide .splide__track .splide__list .splide_slide .rest .more-info:hover {
  color: #212529;
}

.italy-arrow-svg {
  margin-top: 6px;
}

@media (min-width: 0px) and (max-width: 500px) {
  .taste-of-italy {
    padding-bottom: 50px;
  }

  .titles {
    width: 80%;
  }

  .title {
    margin-bottom: 0px;
    font-weight: 300;
    font-size: 24px;
  }

  .subtitle {
    font-weight: 200;
    font-size: 16px;
    margin-bottom: 15px;
    text-align: left;
  }

  .taste-of-italy .taste-heading .shop-now {
    width: 30%;
  }

  .taste-of-italy .taste-heading .shop-now .view-more {
    height: 50%;
    font-size: 12px;
    padding: 10px 6px;
  }

  .splide {
    margin-bottom: 0px;
  }

  .splide__track {
    height: 500px;
  }

  .splide__slide .overlay {
    display: none;
  }

  .product-buttons {
    display: none;
  }

  .product-info {
    background-color: white;
  }

  .price {
    font-size: 20px;
  }

  .name-link {
    font-size: 17px;
  }

  .taste-of-italy .splide .splide__track .splide__list .splide__slide .product-info .rest .more-info {
    text-decoration: none;
    color: #1A1A1A;
    font-family: 'Roboto Slab', serif;
  }

  .taste-of-italy .splide .splide__track .splide__list .splide__slide .product-info .add-remove {
    display: flex !important;
    justify-content: space-around !important;
    margin-top: 33px;
  }

  .remove {
    border: 1px solid #fafafa;
    width: 20%;
    text-align: center;
    min-height: 40px;
    padding: 10px;
  }

  .add {
    border: 1px solid #fafafa;
    width: 20%;
    text-align: center;
    min-height: 40px;
    padding: 10px;
  }

  .count {
    border: 1px solid #fafafa;
    color: #212529;
    width: 60%;
    text-align: center;
    min-height: 40px;
    padding: 18px;
  }

  .product-link {
    height: 160px;
  }

  .product-img {
    width: 100%;
    height: 180px;
    left: 0%;
  }

  .padge {
    top: 45%;
    right: 5%;
  }

  .carousel-control-next-icon {
    margin-top: 2px;
  }
}

@media (min-width: 500px) and (max-width: 900px) {
  .taste-of-italy {
    padding-bottom: 50px;
    margin-top: 0px;
  }

  .taste-of-italy .taste-heading .shop-now {
    width: 20%;
  }

  .subtitle {
    font-size: 17px;
    text-align: left;
  }

  .shop-now {
    width: 20%;
  }

  .splide__track {
    height: 500px;
  }

  .splide__slide .overlay {
    display: none;
  }

  .product-buttons {
    display: none;
  }

  .taste-of-italy .splide .splide__track .splide__list .splide__slide .product-info .rest .more-info {
    text-decoration: none;
    color: #1A1A1A;
    font-family: 'Roboto Slab', serif;
  }

  .add-remove {
    display: flex !important;
    justify-content: space-around !important;
    margin-top: 45px !important;
  }

  .remove {
    border: 1px solid #fafafa;
    width: 20%;
    text-align: center;
    min-height: 40px;
    padding: 10px;
  }

  .add {
    border: 1px solid #fafafa;
    width: 20%;
    text-align: center;
    min-height: 40px;
    padding: 10px;
  }

  .count {
    border: 1px solid #fafafa;
    color: #212529;
    width: 60%;
    text-align: center;
    min-height: 40px;
    padding: 18px;
  }

  .product-link {
    height: 160px;
  }

  .product-img {
    width: 100%;
    height: 177px;
    left: 0%;
  }

  .padge {
    top: 80%;
    right: 5%;
  }

  .carousel-control-next-icon {
    margin-top: 5px;
  }

}