.whatsNew {
  padding-top: 5%;
  border-bottom: 1px solid #fafafa;
  background-color: rgb(250, 250, 250);
}

.whatsNew-heading {
  padding: 2%;
}

.address {
  text-align: left;
}

.address1 {
  font-family: 'IBM Plex Sans', sans-serif;
  margin-bottom: 2px;
  font-weight: 500;
  font-size: 24px;
}

.address2 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #8C8C8C;
  margin-bottom: 40px;
}

.shop-now {
  height: 42%;
  width: 12%;
  border: none;
  padding: 0px;
  color: #8C8C8C;
}

.shop-now:hover {
  cursor: default;
}

.view-more {
  height: 42%;
  color: #8C8C8C;
  border: 1px solid #efefef;
  border-radius: 5px;
  font-size: 14px;
  padding: 10px 15px;
  font-family: 'IBM Plex Sans', sans-serif;
}

.view-more:hover {
  color: #8C8C8C;
}

.shop-now-arrow {
  height: 7px;
  margin-top: 7px;
}

.product {
  border: 1px solid #fafafa;
}

.whatsNew .splide {
  padding: 2%;
}

.whatsNew .splide .splide__track .splide__list .splide__slide {
  background-color: white;
}

.splide__arrow {
  height: 50px;
  width: 50px;
  background-color: white;
  border: 1px solid lightgrey;
}

.splide__arrow svg {
  height: 12px;
}

.product-card {
  cursor: pointer;
}

.product-link {
  display: block;
  height: 311px;
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0;
  cursor: pointer;
}

.ctr {
  position: absolute;
  transform: translate(0%, -98%);
}

.product:hover .overlay {
  opacity: .2;
}

.product-img {
  position: absolute;
  height: 59%;
  width: 100%;
}

.padge {
  height: 30px;
  position: absolute;
  z-index: 2;
  top: 50%;
  right: 3%;
}

.product-buttons {
  height: 52px;
  display: flex;
  justify-content: space-around;
  padding-top: 14px;
  visibility: hidden;
}

.product:hover .product-buttons {
  visibility: visible !important;
}

.remove-btn,
.add-btn {
  width: 50%;
  background-color: #FFFFFF;
  border: none;
}

.remove-btn:hover,
.add-btn:hover {
  background-color: #f9f9f9;
}

.whatsNew .splide .splide__track .splide__list .splide__slide .product .product-info {
  padding: 24px;
  text-align: left;
  font-family: 'IBM Plex Sans', sans-serif;
}

.whatsNew .splide .splide__track .splide__list .splide__slide .product .product-info .price {
  font-weight: 500;
  color: #1A1A1A;
  font-size: 16px;
  line-height: 1;
  margin-bottom: 12px;
}

.whatsNew .splide .splide__track .splide__list .splide__slide .product .product-info .name {
  height: 70px;
}

.whatsNew .splide .splide__track .splide__list .splide__slide .product .product-info .name .name-link {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 15px;
  text-decoration: none;
  color: #8C8C8C;
  opacity: .7;
  font-weight: 100 !important;
}

.name-link:hover {
  color: #8C8C8C;
}

.whatsNew .product .rest {
  display: flex;
  width: 58%;
}

.whatsNew .product .rest:hover {
  border-bottom: 1px solid #212529;
  cursor: pointer;
}

.whatsNew .splide .splide__track .splide__list .splide__slide .product .product-info .rest .more-info {
  text-decoration: none;
  color: #212529;
  font-size: 14px;
  font-weight: 500;
}

.whatsNew .splide .splide__track .splide__list .splide__slide .product .product-info:hover {
  color: #212529;
}

.whatsNew .splide .splide__track .splide__list .splide__slide .product .product-info .rest .whatsnew-arrow-svg {
  margin-top: 6px;
}

@media (min-width: 0px) and (max-width: 500px) {
  .whatsNew {
    margin-bottom: 50px;
  }

  .address {
    width: 77%;
  }

  .address1 {
    text-align: left;
    margin-bottom: 0px;
    font-weight: 300;
    font-size: 23px;
  }

  .address2 {
    text-align: left;
    font-weight: 200;
    font-size: 16px;
    margin-bottom: 20px;
  }

  .shop-now {
    width: 30%;
  }

  .view-more {
    height: 50%;
    font-size: 12px;
    padding: 10px 6px;
  }

  .splide {
    margin-bottom: 0px;
  }

  .splide__track {
    height: 500px;
  }

  .overlay {
    display: none;
  }

  .product-buttons {
    display: none;
  }

  .whatsNew .splide .splide__track .splide__list .splide__slide .product .product-info .price {
    font-size: 24px;
  }

  .whatsNew .splide .splide__track .splide__list .splide__slide .product .product-info .name .name-link {
    font-size: 17px;
  }

  .whatsNew .splide .splide__track .splide__list .splide__slide .product .product-info .rest .more-info {
    font-size: 17px;
    font-family: 'Roboto Slab', serif;
    text-decoration: none;
    color: black;
  }

  .add-remove {
    display: flex !important;
    justify-content: space-around !important;
    margin-top: 33px !important;
  }

  .remove {
    border: 1px solid #fafafa;
    width: 20%;
    text-align: center;
    min-height: 40px;
    padding: 10px;
  }

  .add {
    border: 1px solid #fafafa;
    width: 20%;
    text-align: center;
    min-height: 40px;
    padding: 10px;
  }

  .count {
    border: 1px solid #fafafa;
    color: #212529;
    width: 60%;
    text-align: center;
    min-height: 40px;
    padding: 18px;
  }

  .product-link {
    height: 160px;
  }

  .product-img {
    width: 100%;
    height: 175px;
    left: 0%;
  }

  .padge {
    top: 45%;
    right: 5%;
  }

  .carousel-control-next-icon {
    margin-top: 2px;
  }

  .whatsnew-arrow-svg {
    margin-top: 9px;
  }
}

@media (min-width: 500px) and (max-width: 900px) {
  .whatsNew {
    padding-bottom: 40px;
  }

  .address {
    width: 75%;
  }

  .address1 {
    font-size: 26px;
    text-align: left;
  }

  .address2 {
    font-size: 17px;
    text-align: left;
    margin-bottom: 15px;
  }

  .shop-now {
    width: 20%;
  }

  .splide__track {
    height: 500px;
  }

  .whatsNew .splide .splide__track .splide__list .splide__slide {
    background-color: white;
  }

  .whatsNew .splide .splide__track .splide__list .splide__slide .product .product-info {
    background-color: white;
  }

  .overlay {
    display: none;
  }

  .whatsNew .splide .splide__track .splide__list .splide__slide .product .product-info .price {
    font-size: 20px;
  }

  .whatsNew .splide .splide__track .splide__list .splide__slide .product .product-info .price .name .name-link {
    font-size: 18px;
  }

  .whatsNew .splide .splide__track .splide__list .splide__slide .product .product-info .rest .more-info {
    font-size: 17px;
    font-family: 'Roboto Slab', serif;
    text-decoration: none;
    color: black;
  }

  .whatsNew .splide .splide__track .splide__list .splide__slide .product .product-info .rest .whatsnew-arrow-svg {
    margin-top: 9px;

  }

  .product-buttons {
    display: none;
  }


  .add-remove {
    display: flex !important;
    justify-content: space-around !important;
    margin-top: 45px !important;
  }

  .remove {
    border: 1px solid #fafafa;
    width: 20%;
    text-align: center;
    min-height: 40px;
    padding: 10px;
  }

  .add {
    border: 1px solid #fafafa;
    width: 20%;
    text-align: center;
    min-height: 40px;
    padding: 10px;
  }

  .count {
    border: 1px solid #fafafa;
    color: #212529;
    width: 60%;
    text-align: center;
    min-height: 40px;
    padding: 18px;
  }

  .product-link {
    height: 160px;
  }

  .product-img {
    width: 100%;
    height: 160px;
    left: 0%;
  }

  .padge {
    top: 80%;
    right: 5%;
  }

  .carousel-control-next-icon {
    margin-top: 5px;
  }

}