  .spinneys-food {
    padding: 70px 2%;
    display: flex;
    justify-content: space-between;
    background-color: rgb(250, 250, 250);
  }

  .spinneys-food .category {
    text-align: left;
    width: 25%;
    height: 520px;
  }

  .spinneys-food .category .cat-img {
    position: absolute;
    z-index: 1;
    width: 24%;
    height: 520px;
  }

  .spinneys-food .category .cat-overlay {
    width: 24%;
    height: 520px;
    position: absolute;
    z-index: 2;
    background-color: #000;
    opacity: .45;
  }

  .spinneys-food .category .cat-banner {
    position: absolute;
    z-index: 3;
    width: 11%;
    margin-top: 75px;
    left: 9%;
  }

  .spinneys-food .category .cat-p {
    position: absolute;
    z-index: 3;
    width: 20%;
    padding-top: 20%;
    text-align: center;
    margin-left: 2%;
    color: #FFFFFF;
    font-size: 24px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 100;
  }

  .spinneys-food .category .shop-btn {
    color: white;
    background-color: transparent;
    padding: 3px 6px;
    border-radius: 7px;
    font-size: 14px;
    font-weight: 700;
    font-family: 'IBM Plex Sans', sans-serif;
    position: absolute;
    z-index: 3;
    margin-top: 32%;
    margin-left: 7%;
    padding: 0px;
  }

  .spinneys-food .category .shop-btn:hover {
    background-color: white;
    color: black;
  }

  .category .shop-btn .view-more {
    height: 42%;
    color: #FFFFFF;
    border: 1px solid #efefef;
    border-radius: 5px;
    font-size: 14px;
    padding: 10px 25px;
    font-family: 'IBM Plex Sans', sans-serif;
    outline: none;
    transition: .5s;
  }

  .category .shop-btn .view-more:hover {
    background-color: #FFFFFF;
    color: #8C8C8C;
  }

  .category .view-more svg {
    margin-top: 9px;
    margin-left: 15px;
  }

  .view-more .shop-now-svg:hover path {
    fill: #8C8C8C;
  }

  .spinneys-food .splide {
    padding: 0px;
    width: 75%;
  }

  .spinneys-food .splide .splide__slide .product {
    height: 520px;
  }

  .spinneys-food .splide .splide__slide .product .product-img {
    height: 55%;
    width: 99%;
  }

  .spinneys-food .splide .splide__slide .product .overlay {
    position: absolute;
    height: 61%;
    width: 100%;
    background-color: black;
    opacity: 0;
    cursor: pointer;
  }

  .spinneys-food .splide .splide__slide .product .ctr {
    position: absolute;
    transform: translate(0%, -98%);
  }

  .spinneys-food .splide .splide__slide .product:hover .overlay {
    opacity: .2;
  }

  .spinneys-food .splide .splide__slide .product .product-card {
    height: 290;
  }

  .spinneys-food .splide .splide__slide .product .product-img {
    height: 290px;
  }

  .spinneys-food .splide .splide__slide .product .product-info {
    padding: 21px;
  }

  .spinneys-food .splide .splide__slide .rest {
    width: 55%;
  }

  .spinneys-food .splide .splide__slide .product-info .rest .more-info {
    color: #212529;
    text-decoration: none;
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
  }

  .spinneys-food .splide .splide__slide .rest .more-info:hover {
    color: #007bff;
  }

  .spinneys-food .splide .splide__arrows .splide__arrows--ltr .splide__arrow .splide__arrow--prev {
    margin-right: 20px;
    left: 0rem;
  }

  .spinneys-food .splide .splide__arrows .splide__arrows--ltr .splide__arrow .splide__arrow--next {
    right: 0rem;
  }

  .spinneys-food .splide .splide__slide .product {
    background-color: white;
  }

  .spinneys-food .splide .splide__slide .product .product-info .name {
    height: 55px;
  }

  @media (min-width: 0px) and (max-width: 500px) {
    .spinneys-food {
      display: block;
      padding: 10px 2%;
      border-bottom: 1px solid #fafafa;
    }

    .shop-btn:hover {
      background-color: white;
      color: black;
    }

    .spinneys-food .category,
    .spinneys-food .category .cat-overlay,
    .spinneys-food .category .cat-img {
      width: 96%;
      height: 450px;
    }

    .spinneys-food .category {
      margin-bottom: 20px;
    }

    .spinneys-food .category .cat-banner {
      width: 40%;
      margin-top: 50px;
      left: 28%;
    }

    .spinneys-food .category .cat-p {
      width: 96%;
      padding-top: 55%;
      font-size: 17px;
    }

    .spinneys-food .category .shop-btn {
      margin-top: 83%;
      margin-left: 30%;
    }

    .spinneys-food .splide {
      width: 100%;
    }

    .spinneys-food .splide .splide__slide .product {
      height: 450px;
    }

    .spinneys-food .splide .splide__slide .product .product-card,
    .spinneys-food .splide .splide__slide .product .product-img {
      height: 260px;
    }

    .spinneys-food .splide .splide__slide .product .overlay,
    .spinneys-food .splide .splide__slide .product .product-buttons {
      display: none;
    }

    .spinneys-food .splide .splide__slide .product .product-info .price {
      font-size: 24px;
    }

    .spinneys-food .splide .splide__slide .rest {
      width: 80%;
    }

    .spinneys-food .splide .splide__slide .product .product-info .add-remove {
      margin-top: 4px;
    }

    .spinneys-food .splide .splide__track .splide__list .splide__slide .product .product-info .name {
      height: 50px;
      margin-bottom: 10px;
    }

    .spinneys-food .splide .splide__track .splide__list .splide__slide .product .product-info .name .name-link {
      font-size: 16px;
    }

    .spinneys-food .splide .splide__track .splide__list .splide__slide .product .product-info .rest .more-info {
      font-size: 18px;
      font-family: 'Roboto Slab', serif;
      text-decoration: none;
      color: black;
    }

    .spinneys-food .splide .splide__slide .product .product-info .add-remove {
      margin-top: 10px !important;
      height: 40px;
      margin-top: 0px;
    }

    .spinneys-food .splide .splide__slide .product .product-info .add-remove .remove,
    .spinneys-food .splide .splide__slide .product .product-info .add-remove .add {
      padding: 5px;
    }

    .spinneys-food .splide .splide__slide .product .product-info .add-remove .remove .remove-product,
    .spinneys-food .splide .splide__slide .product .product-info .add-remove .add .add-product {
      height: 16px;
    }

    .spinneys-food .splide .splide__slide .product .product-info .add-remove .count {
      padding: 7px;
    }
  }

  @media (min-width: 500px) and (max-width: 900px) {
    .spinneys-food {
      display: block;
    }

    .spinneys-food .category {
      display: block;
      width: 100%;
      margin-bottom: 20px;
    }

    .spinneys-food .category .cat-overlay {
      width: 96%;
    }

    .spinneys-food .category .cat-img {
      width: 96%;
    }

    .spinneys-food .category .cat-banner {
      text-align: center;
      width: 23%;
      left: 38%;
    }

    .spinneys-food .category .cat-p {
      width: 96%;
      padding-top: 32%;
    }

    .shop-btn:hover {
      background-color: white;
      color: black;
    }

    .cat-banner {
      width: 18%;
      margin-top: 40px;
      left: 8%;
    }

    .spinneys-food .category .cat-p {
      padding-top: 30%;
      margin-left: 4%;
      font-size: 22px;
      width: 95%;
    }

    .spinneys-food .category .shop-btn {
      margin-top: 46%;
      margin-left: 6%;
    }

    .spinneys-food .category .shop-btn {
      margin-top: 46%;
      margin-left: 40%;
    }


    .spinneys-food .splide {
      width: 100%;
    }

    .spinneys-food .splide .splide__slide .product {
      height: 480px;
    }

    .spinneys-food .splide .splide__slide .product .product-info .price {
      font-size: 20px;
    }

    .spinneys-food .splide .splide__slide .product .product-info .name .name-link {
      font-size: 16px;
    }

    .spinneys-food .splide .splide__slide .product .product-card,
    .spinneys-food .splide .splide__slide .product .product-img {
      height: 260px;
    }

    .spinneys-food .splide .splide__slide .product .overlay,
    .spinneys-food .splide .splide__slide .product .product-buttons {
      display: none;
    }

    .spinneys-food .splide .splide__slide .rest {
      width: 65%;
      margin-bottom: 20px;
    }

    .spinneys-food .splide .splide__track .splide__list .splide__slide .product .product-info .rest .more-info {
      text-decoration: none;
      color:#000;
      
    }
    .spinneys-food .splide .splide__slide .product .product-info .add-remove {
      margin-top: 10px !important;
    }

    .spinneys-food .splide .splide__slide .product .product-info .name {
      height: 50px;
      margin-bottom: 15px;
    }

    .spinneys-food .splide .splide__slide .product .product-info .add-remove {
      height: 40px;
      margin-top: 0px;
    }

    .spinneys-food .splide .splide__slide .product .product-info .add-remove .remove,
    .spinneys-food .splide .splide__slide .product .product-info .add-remove .add {
      padding: 5px;
    }

    .spinneys-food .splide .splide__slide .product .product-info .add-remove .remove .remove-product,
    .spinneys-food .splide .splide__slide .product .product-info .add-remove .add .add-product {
      height: 16px;
    }

    .spinneys-food .splide .splide__slide .product .product-info .add-remove .count {
      padding: 7px;
    }
  }