.stories .splide {
   padding: 2%;
}

.story-arrow-svg {
   filter: invert(50%);
   height: 20px;
}

@media (min-width: 0px) and (max-width: 500px) {
   .stories .splide {
      margin-bottom: 30px;
   }

   .splide__arrow span,
   .splide__arrow span {
      height: 50px !important;
      width: 50px !important;
   }

   .stories .splide__arrows .splide__arrow {
      top: 37%;
   }
}

@media (min-width: 500px) and (max-width: 900px) {
   .stories .splide {
      padding: 2%;
   }

   .stories .splide .splide__list {
      height: 287px;
   }

   .stories .splide__arrows .splide__arrow {
      top: 37%;
   }

   .story-arrow-svg {
      filter: invert(30%);
      height: 14px;
      background-color: transparet;
   }
}

@media (min-width: 900px) and (max-width: 1326px) {
   .stories .splide .splide__arrows .splide__arrow {
      height: 50px;
      width: 50px;
      background: white;
   }

   .stories .splide .splide__arrows .splide__arrow:hover {
      background-color: white;
   }

   .splide__pagination {
      visibility: hidden;
   }
}